<!DOCTYPE html>
<html lang="en">
<head>
    <!-- views/partials/head.ejs -->
    <title>My items</title>
    <% include ../partials/head %>
</head>

<body>
<!--  logo of the brand here-->
<header class="banner">
    <!-- views/partials/header.ejs -->
    <% include ../partials/header %>
</header>

<!-- The user specific menu goes here -->
<!-- views/partials/user-navigation.ejs -->
<% include ../partials/user-navigation %>

<main class="main-categories">
    <!-- views/partials/site-navigation.ejs -->
    <% include ../partials/site-navigation %>
    <div class="card-row home-card">
        <div class="card-container">
            <div class="card home-card">
                <div>
                    <h2 id="user-name">My Recipe Book</h2>
                </div>
                <br>
                <br>
                <% if(items !== undefined && items.length != 0) { %>
                <div id="bookmark-table">
                    <table class="recipe-collection">
                        <tr>
                            <th>Recipe</th>
                            <th>Category</th>
                            <th>My Rating</th>
                            <th>Made it</th>
                            <th>
                            </th>
                            <th></th>
                        </tr>
                        <%
                        for(var i=0; i< items.length; i++){ %>
                        <tr>
                            <td><a href="/myitems/item/<%= items[i]._itemCode %>"><i class="fa fa-bookmark padright"></i><%= items[i]._itemName %></a></td>
                            <td><%= items[i]._itemCategory %></td>
                            <td><ul>
                                    <%
                                    for(var j=0; j < items[i]._rating; j++){ %>
                                        <li><i class="fa fa-star"></i></li>
                                    <% }%>
                                </ul></td>
                            <% if(items[i]._madeIt == 'Yes') {%>
                            <td><input type="checkbox" name="madeit_or_not" value="madeit" checked disabled><br></td>
                            <% } else {%>
                                <td><input type="checkbox" name="madeit_or_not" value="madeit" disabled><br></td>
                            <%}%>
                            <td><form method="GET"><button name="itemCode" value="<%= items[i]._itemCode %>" class="btn update-btn" type="submit" formaction="/userProfile/feedback">Update</button></form></td>
                            <td><form method="GET"><button name="itemCode" value="<%= items[i]._itemCode %>" class="btn delete-btn" type="submit" formaction="/userProfile/myProfile">Delete</button></form></td>

                        </tr>
                        <% }%>
                    </table>
                </div>
                <%} else { %>
                    <p>Please feel free to add items to your library, head to the "Categories" section!</p>
                <% } %>
                <div class="footnote">
                    <i class="fa fa-bookmark footnote-bookmark"></i>
                    <p>Indicates that this recipe belongs to you.
                        <br>
                        <a href="/userProfile/myProfile">Click here to share a new recipe!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="site-footer">
    <!-- views/partials/footer.ejs -->
    <% include ../partials/footer %>
</footer>
</body>
</html>